.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}
/* style header */
h1 {
  text-align: center;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  /* exciting text gradient color */
  background: linear-gradient(90deg, #420808 0%, #c4986b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

/* style form  */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.siz {
  width: 15%;
}

.spc1 {
  padding: 2.5rem;
  width: 420px;
}

.spc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
