/* style header */
h1 {
  text-align: center;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
}

/* style form  */

.spc1 {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spc,
.spc1 {
  padding: 20px;
}

.spc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
